/sources/02_examples/ex02_estructura_algoritmo/build/
/sources/02_examples/ex03_variables_constantes_tiposdatos/nbproject/private/
/sources/02_examples/ex03_variables_constantes_tiposdatos/build/
/sources/02_examples/'ex04_operadores_aritmeticos/nbproject/private/
/sources/02_examples/'ex04_operadores_aritmeticos/build/
/sources/02_examples/ex05_condicional_simple/nbproject/private/
/sources/02_examples/ex05_condicional_simple/build/
