/sources/02_examples/ex02_estructura_algoritmo/build/
/sources/02_examples/ex03_variables_constantes_tiposdatos/nbproject/private/
/sources/02_examples/ex03_variables_constantes_tiposdatos/build/
/sources/02_examples/'ex04_operadores_aritmeticos/nbproject/private/
/sources/02_examples/'ex04_operadores_aritmeticos/build/
/sources/02_examples/ex05_condicional_simple/nbproject/private/
/sources/02_examples/ex05_condicional_simple/build/
/sources/02_examples/ex06_condicional_doble/nbproject/private/
/sources/02_examples/ex06_condicional_doble/build/
/sources/02_examples/ex07_condicional_anidado/nbproject/private/
/sources/02_examples/ex07_condicional_anidado/build/
/sources/02_examples/ex08_condicional_multiple_elseif/nbproject/private/
/sources/02_examples/ex08_condicional_multiple_elseif/build/
/sources/02_examples/ex09_condicional_multiple_switch/nbproject/private/
/sources/02_examples/ex09_condicional_multiple_switch/build/
/sources/02_examples/ex04_operadores_aritmeticos/nbproject/private/
/sources/02_examples/ex04_entrada_datos/nbproject/private/
/sources/02_examples/ex04_entrada_datos/build/
